.input{
    width: fit-content;
    margin: auto;
    display: grid;
    text-align: left;
    line-height: 30px;
    margin-top: 60px;
}
.input > div{
    margin: 20px;
}
.label{
    font-weight:700;
}
.input input{
    width: 35rem;
    border-radius: 10px;
    height: 25px;
    padding: 0px 0px 0px 8px;
    border: 1px solid grey;
}